body {
    margin: 0;
}
.new-todo {
    padding: 1rem;
    width: 90vw;
    border: 1px solid #303030;
}

.new-todo-item {
    width: 100%;
}

.new-todo-item label {
    width: 30%;
    height: 80px;
}

.new-todo-item input, .new-todo-item textarea{
    width: 100%;
    height: 80px;
}

.todo-search {
    padding-top: 1rem;
}
